.container {
    width: 640px;
}

.bar-add {
    text-align: right;
}

.bar-button {
    margin: 0 5px;
}

.record {
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px 0;
}

.record .right {
    text-align: right;
}

.record p {
    margin: 5px 0;
}

.record-button {
    display: inline-block;
    width: 12px;
    height: 12px;
}

button:hover, .button:hover {
    cursor: pointer;
}

.record-edit {
    background: url(./../static/edit.png) center no-repeat;
    background-size: 100%;
}

.record-remove {
    background: url(./../static/delete.png) center no-repeat;
    background-size: 100%;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.overlay-close {
    position: fixed;
    top: 4px;
    right: 16px;
    color: white;
    font-size: 32px;
}

.overlay-form {
    background-color: white;
    text-align: center;
    margin-top: 10%;
    padding: 15px 0;
    width: 400px;
}

.overlay-form .scalable-input {
    width: 200px;
    margin-bottom: 10px;
    text-align: center;
}

.overlay-form button {
    margin: 5px 0;
}

.page-controller {
    text-align: center;
}